.sidebar-tabs-root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #252526;
}

.pt-tabs.sidebar-tabs {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.sidebar-tabs > .pt-tab-list {
    background: #333333;
    width: 40px;
    overflow-x: none;
}

.sidebar-tabs > .pt-tab-list > .pt-tab-indicator-wrapper {
    width: 40px;
}

.pt-tabs.sidebar-tabs > .pt-tab-panel {
    padding-left: 0;
    width: 100%;
}

#pt-tab-panel_sidebar-tabs_sidebar-files > div > ul {
    background-color: #252526 !important;
}

#pt-tab-panel_sidebar-tabs_sidebar-files ul {
    margin-top: 0;
    margin-bottom: 0;
}

.sidebar-item-header {
    margin: 10px;
}