.app-main-view-root {
    display: flex;
    flex-direction: column;

    flex: 1 0 auto;
    position: relative;
}

.app-main-view-workspace {
    position: relative;
    flex: 1 0 auto;
}

.app-main-view-workspace > .panelGroup {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}