.default-editor-pane {
    display: flex;
    flex-direction: column;
    background: #252526;

    position: absolute;
    top: 0;
    left: 0;
    right: 40px;
    bottom: 0;
}

.default-editor-pane-editor-root {
    position: relative;
    flex: 1 0 auto;
}

.default-editor-pane-editor-root .react-monaco-editor-container {
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 0;
    right: 0;
}

.default-editor-panel-file-path {
    background: #252526;
    padding-left: 10px;
    padding-bottom: 5px;
}